
  body {font-family: 'Gowun Dodum', sans-serif;}
  h1{text-align:center;
    border-bottom: 3px double black;
    border-top: 3px double black;
    padding:10px;
    margin:10px;}


  .menu{text-align:center;}
  .menu ul{list-style:none;
    margin:0;
    padding:0;
    display:inline-block;}
  .menu li{margin:10px;
    margin-left: 50px;
    padding: 10px;
    border-bottom: 1px solid black;
    float:left;
    }

    .plan{text-align:center; }
    .plan ul{list-style:none;
      margin:0;
      padding:0;
      display:inline-block;}
    .plan li{margin:10px;
      padding: 5px;
      float:left;
      }

  a{text-decoration:none;
    color:black;}

  body{text-align:center;}

  #health{background-color:#FF8A8A;}
  #study{background-color:#FFB38A;}
  #book{background-color:#FFF28A;}
  #record{background-color:#91FF8A;}
  #culture{background-color:#8AFFF8;}
  #hobby{background-color:#8A9CFF;}
  #selfmanagement{background-color:#C48AFF;}
  #people{background-color:#FF8AFB;}
